body {
    margin: 0;
    padding: 0;
}

.container {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
}

#counter {
    font-size: 100vh;
    line-height: 100vh;
}

#image {
    height: 64vh;
    width: auto;
    transform: translate(6%, 4%);
}
